body {
  margin: 0;
  padding: 0;
  font-family: "Chivo", sans-serif;
  background: rgb(0, 3, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 3, 36, 1) 0%,
    rgba(51, 48, 107, 1) 52%,
    rgba(0, 104, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  max-width: 550px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0.7rem;
  padding: 40px 30px 70px;
  background: #fff;
}
.container h2 {
  color: #002b70;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.container img {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

ul .checked {
  text-decoration: line-through;
}
#todo-list {
  list-style: none;
  padding: 0;
  overflow-y: auto;
  max-height: 200px;
}

#todo-list li {
  border-bottom: 1px solid black;
  padding: 10px 0;
  margin: 0;
}

#todo-list li:last-child {
  border-bottom: none;
}
#todo-list li:nth-child(even) {
  border-bottom: 1px solid #d6d6d6;
}

#todo-list li:nth-child(odd) {
  border-bottom: 1px solid #979899;
}
#todo-list li:last-child {
  border-bottom: none;
}

.addTask {
  font-family: monospace;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid black;
  outline: none; /* Optional: Removes the default focus outline */
  width: 55%;
}

.addBtn {
  cursor: pointer;
  font-weight: 900;
  font-size: 25px;
  display: inline-block;
  transform: translateY(2px);

  padding-right: 5px;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #005fdb;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
